[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/daviddlassen/daviddlassen.github.io.git/public
	branch = master
[submodule "daviddlassen.github.io"]
	path = daviddlassen.github.io
	url = https://github.com/daviddlassen/daviddlassen.github.io.git/
	branch = master
